############################
# NPM files
############################
**/node_modules
**/bower_components
node_modules
bower_components
npm-debug.log*
.node_repl_history
.node_history
.lock-wscript
.npm


############################
# Temp files
############################
tramp
temp
tmp
.tmp
*.swo
*.swp
*.swn
*.swm
*.diff
*.log
*.patch
*.bak
*.log
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*
.\#*
.cache
**/.cache


############################
# Editor & OS files
############################
.idea
.DS_STORE
.Trashes
.project
.rebooted
.*proj
Thumbs.db
ehthumbs.db
Icon?
nbproject
.cask/
.pydevproject
.settings/
.vs_code

/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
/eshell/history
/eshell/lastdir
/elpa/
/auto/
*_flymake.*
.org-id-locations
*_archive
.imdone


############################
# Report files
############################
coverages
coverage
reports
report
lib-cov
html-report
JSCover
nohup.out
out
logs
log
*.log
*.log.*
.nyc_output


############################
# Other files
############################
pids
*.pid
*.rel
*.seed
.grunt
.svn
__pycache__/
*.py[cod]
*$py.class
.picasso


############################
# Build
############################
dist
*_dist


############################
# Ignore for Publish - Docs
############################
documents
document
docs
doc
*.md
**/*.md


############################
# Ignore for Publish - Config
############################
.jsbeautifyrc
.jshintrc
.jscsrc
.editorconfig
.travis.yml
.eslintrc
.babelrc
.gitlab-ci.yml
formula.config.js
orbit.config.js


############################
# Ignore for Publish - Helpers
############################
benchmarks
benchmark
coverages
coverage
tests
test


############################
# Ignore for Publish - Demos
############################
examples
example
demos
demo
example*
demo*

############################
# Ignore for Publish - Tasks
############################
webpack.config.js
Gruntfile.js
gulpfile.js
Makefile


############################
# By Project
############################
